@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  background-color: #77915f;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Biryani', Arial, Helvetica, sans-serif;
}